* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url('geom.jpeg');
    background-size: cover;
}
h1,h2 {
    text-align: center;
    margin: 25px;
    font-family: 'Aboreto';
}
.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.login{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px black;
    background-color: #efe9e0d6;
    border-radius: 5px;
    backdrop-filter: blur(8px);
}
.btn{
    margin-top: 20px;
    background-color: #efe9e0;
    width: 120px;
    height: 30px;
    border-radius:12px;
    transition: 0.6s;
}
.btn:hover{
    background-color: #f8a390;
    transition: 0.6s;
}
.username,.password {
    margin:10px;
    width: 63%;
    display: flex;
    justify-content: space-between;
}
