* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('petiponey.jpeg');
}

h1,
h2 {
    text-align: center;
    margin: 25px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 35px;
}

form>* {
    margin: 0 20px;
    padding: 5px;
    height: 100%;
    border-radius: 30px;
    border: solid 1px black;
    background-color: #E9DDDD;
}

.send {
    padding: 0 15px;
}

.task {
    width: 300px;
}

.etages {
    width: 80px;
    text-align: center;
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.contenantagenda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.agenda {
    width: 90vw;
    background-color: #ffe8fc;
    display: flex;
    border-radius: 20px;
    min-height: 450px;
    padding: 10px;
}

.etage,
.tache,
.date,
.suppr {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.etage,
.tache,
.date {
    border-right: 1px solid black;
}

.etage,
.suppr {
    width: 10%;
}

.tache,
.date {
    width: 40%;
}

.delete{
    height: 18px;
    margin: 0 0 18px;
}

.deletebtn{
    padding: 0;
    font-size: 12px;
    width: 70px;
}